/bin/
/target/
.DS_Store
.idea/compiler.xml
.idea/encodings.xml
.idea/hotswap_agent.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/**
*.class
*.class
target/classes/app/config/AppConfig.class
SistemaGestion.iml
src/main/resources/rebel.xml
src/main/resources/persistence-mysql.properties
src/main/resources/rebel.xml
src/main/resources/persistence-mysql.properties
notas.txt
src/main/resources/persistence-mysql.properties
src/main/resources/rebel.xml
